<configuration>
  <springProfile name ="console-logging">
  <!--  콘솔 로그-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%n###### HTTP Request ######%n%fullRequest%n###### HTTP Response
          ######%n%fullResponse%n%n
        </pattern>
      </encoder>
    </appender>
    <appender-ref ref="STDOUT"/>
  </springProfile>

  <springProfile name ="file-logging">
    <!--  파일 로그-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>./logs/jujeol.log</file>
      <encoder>
        <pattern>%n###### HTTP Request ######%n%fullRequest%n###### HTTP Response ######%n%fullResponse%n%n</pattern>
      </encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>./logs/jujeol.%d{yyyy-MM-dd}_%i.log.zip</fileNamePattern>
        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
          <maxFileSize>15MB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>
        <maxHistory>7</maxHistory>
      </rollingPolicy>
    </appender>
    <appender-ref ref="FILE" />
  </springProfile>
</configuration>