<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
  <!-- log file path -->
  <property name="LOG_PATH" value="./logs"/>
  <!-- log file name -->
  <property name="LOG_FILE_NAME" value="jujeol"/>
  <!-- pattern -->
  <property name="LOG_PATTERN" value="%white(%d{HH:mm:ss.SSS}) %cyan([%thread]) %highlight([%-5level]) %yellow([%logger{0}]) - %boldWhite(%m%n)"/>
  <property name="LOG_FILE_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] [%-5level] [%logger{0}] - %m%n"/>

  <springProfile name="console-logging">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>${LOG_PATTERN}</Pattern>
      </layout>
    </appender>
    <appender name="CONSOLE-async" class="ch.qos.logback.classic.AsyncAppender">
      <appender-ref ref="CONSOLE" />
      <queueSize>256</queueSize>
      <discardingThreshold>20</discardingThreshold>
      <includeCallerData>false</includeCallerData>
      <neverBlock>true</neverBlock>
      <maxFlushTime>3000</maxFlushTime>
    </appender>
  </springProfile>

  <springProfile name="file-logging">
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
      <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <pattern>%msg%n</pattern>
      </encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}_%i.zip</fileNamePattern>
        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
          <maxFileSize>100MB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>3</maxHistory>
      </rollingPolicy>
    </appender>
    <appender name="PERFORMANCE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_PATH}/performance.log</file>
      <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <pattern>${LOG_FILE_PATTERN}</pattern>
      </encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_PATH}/performance.%d{yyyy-MM-dd}_%i.zip</fileNamePattern>
        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
          <maxFileSize>100MB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>
        <maxHistory>3</maxHistory>
      </rollingPolicy>
    </appender>
    <appender name="FILE-async" class="ch.qos.logback.classic.AsyncAppender">
      <appender-ref ref="FILE" />
      <queueSize>256</queueSize>
      <discardingThreshold>20</discardingThreshold>
      <includeCallerData>false</includeCallerData>
      <neverBlock>true</neverBlock>
      <maxFlushTime>3000</maxFlushTime>
    </appender>
    <appender name="PERFORMANCE-async" class="ch.qos.logback.classic.AsyncAppender">
      <appender-ref ref="PERFORMANCE" />
      <queueSize>256</queueSize>
      <discardingThreshold>20</discardingThreshold>
      <includeCallerData>false</includeCallerData>
      <neverBlock>true</neverBlock>
      <maxFlushTime>3000</maxFlushTime>
    </appender>
  </springProfile>



  <root level="INFO">
    <springProfile name="console-logging">
      <appender-ref ref="CONSOLE-async"/>
    </springProfile>
    <springProfile name="file-logging">
      <appender-ref ref="FILE-async"/>
      <appender-ref ref="PERFORMANCE-async"/>
    </springProfile>
  </root>
</configuration>
