<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
  <!-- log file path -->
  <property name="LOG_PATH" value="./logs"/>
  <!-- log file name -->
  <property name="LOG_FILE_NAME" value="jujeol"/>
  <!-- pattern -->
  <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%-5level] [%logger{36}] - %m%n"/>

  <springProfile name="console-logging">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>${LOG_PATTERN}</Pattern>
      </layout>
    </appender>
  </springProfile>

  <springProfile name="file-logging">
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
      <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <pattern>${LOG_PATTERN}</pattern>
      </encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}_%i.zip</fileNamePattern>
        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
          <maxFileSize>100MB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>100</maxHistory>
      </rollingPolicy>
    </appender>
  </springProfile>

  <root level="INFO">
    <springProfile name="console-logging">
      <appender-ref ref="CONSOLE"/>
    </springProfile>
    <springProfile name="file-logging">
      <appender-ref ref="FILE"/>
    </springProfile>
  </root>
</configuration>
