name: backend-prod-deploy

# PR 요청에 대해
on:
  workflow_dispatch:

defaults:
  run:
    working-directory: ./backend # build steps의 run을 ./backend 경로에서 실행

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
        with:
          submodules: true
          token: ${{ secrets.SUBMODULE_ACCESS_TOKEN }}

      - name: Build App
        run: ./gradlew bootJar

      - name: Deploy Prod use SCP
        uses: appleboy/scp-action@master
        with:
          username: ubuntu
          host: ${{ secrets.PROD_HOST }}
          key: ${{ secrets.PROD_RSA_PRIVATE_KEY }}
          source: "./backend/build/libs/*.jar"
          target: "/home/ubuntu/jujeol-jujeol/backend/deploy"
          timeout: 3600s
          strip_components: 3

      - name: Execute Server Init Script
        uses: appleboy/ssh-action@master
        with:
          username: ubuntu
          host: ${{ secrets.PROD_HOST }}
          key: ${{ secrets.PROD_RSA_PRIVATE_KEY }}
          script_stop: true
          script: sh /home/ubuntu/jujeol-jujeol/backend/script/init_server.sh
